*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
    background: gray;
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
nav {
    background: var(--clr-white);
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);
  }